<header style="background-color: #f2f2f2; padding: 1rem;">
  <nav style="display: flex; gap: 1.5rem;">
    <a routerLink="/about" routerLinkActive="active-link">About</a>
    <a routerLink="/cars" routerLinkActive="active-link">Cars</a>
    <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    <a routerLink="/register" routerLinkActive="active-link">Register</a>

  </nav>
</header>

<main style="padding: 2rem;">
  <router-outlet></router-outlet>
</main>
